.bloglines {
  margin: 0;
  padding: 0;
}

.blogline {
  list-style: none;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* width: 812px; */
}

a .blogline {
  color: #274255;
}

.bloglink {
  color: #274255;
}

.blogdate {
  color: #599ec4;
  width: 160px;
}

.related {
  margin-top: 50px;
}

.timeline {
  display: flex;
  flex-direction: column;
  color: #385061;
}

.year {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 15px;
}

.monthblock {
  display: flex;
  flex-direction: row;
  background: #fcfaf8;
  border-radius: 4px;
  width: 100px;
  height: 22px;
  align-content: center;
  align-items: center;
}

.monthdot {
  height: 14px;
  width: 14px;
  border-radius: 20px;
  background: #385061;
  margin-left: 13px;
  margin-right: 10px;
}

.monthlabel {
  font-size: 12px;
}

.blogcontent {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  max-width: 840px;
  margin: auto;
  width: 840px;
}

.blognavigation {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  max-width: 840px;
  margin: auto;
  margin-top: 30px;
  width: 840px;
  justify-content: space-between;
  font-size: 14px;
}

.nextpost {
  color: #385061;
}

.previouspost {
  color: #385061;
}

.postwrapper {
  background: white;
  border-radius: 4px;
  padding: 20px;
  margin-top: 30px;
}

.post {
  background: #fcfaf8;
  padding: 20px;
  color: #274255;
  font-size: 14px;
  line-height: 20px;
  word-spacing: 2px;
}

.postblock {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.posttitle {
  margin-left: 10px;
  font-weight: bold;
  font-size: 13px;
}

.postdate {
  color: #D85C26;
  font-size: 12px;
  margin-bottom: 30px;
}

.daylabel {
  height: 22px;
  width: 22px;
  background: #fcfaf8;
  border-radius: 20px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 9px;
}

.postlink {
  color: #354E5F;
}

.timelineheader {
  margin-top: 50px;
  font-weight: bold;
}

.blogposttitle {
  font-weight: bold;
  font-size: 15px;
}

.blogindex {
  min-width: 300px;
}

.divider {
  height: 20px;
  width: 20px;
  border-right: 1px solid #385061;
}

#h3 {
  font-size: 14px;
  margin-top: 30px;
  font-weight: bold;
}

/* iPhone X */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  .blogcontent {
    display: -webkit-flex;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .blognavigation {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    margin: auto;
    margin-top: 30px;
    width: auto;
    justify-content: space-between;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .postwrapper {
    border-radius: 0;
    padding:0;
  }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
  .blogcontent {
    display: -webkit-flex;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .blognavigation {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    margin: auto;
    margin-top: 30px;
    width: auto;
    justify-content: space-between;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .postwrapper {
    border-radius: 0;
    padding:0;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
  .blogcontent {
    display: -webkit-flex;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .blognavigation {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    margin: auto;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    justify-content: space-between;
    font-size: 14px;
  }

  .postwrapper {
    border-radius: 0;
    padding:0;
  }
}
