.body {
    background: #f9f9f6;
    /* #faf9f6; */
    
    margin: 0;
}

.sbbody {
    background: blue;
    /* #faf9f6; */
    
    margin: 0;
}

.siteBody {
    background: #faf9f6;
    margin: 0;
}

#projectThumbs .project {
    margin-top: 16px;
}

#header:before,
#page:before,
#footer:before,
footer:before,
.meta-row:before,
.clear:before,
#header:after,
#page:after,
#footer:after,
footer:after,
.meta-row:after,
.clear:after {
    content: "";
    display: table;
}

.layout-style-center #topNav nav,
.layout-style-center #topNav ul,
.layout-style-center #topNav li {
    display: inline-block;
    float: none;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

a {
    color: #DDD;
}

#page {
    padding: 24px 0;
    opacity: 1;
    position: relative;
}

section {
    display: block;
}

.page-footer {
    padding: 50px;
}

.description {
    padding-top: 30px;
}

.borderedPic {
    background: #FFF;
    padding: 10px;
    /* box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4); */
    
    border-radius: 4px;
    border: #EFEFEF solid 1px;
}

.main-nav {
    color: #bbcad2;
}

.infoArea {
    /* border-bottom: #bbcad2 1px solid; */
    
    margin-bottom: 20px;
    background: white;
    display: -moz-box;
    width: 100%;
    -moz-box-pack: center;
    -moz-box-orient: vertical;
}

.title {
    font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
    color: #f66401;
    /* #D15600; */
    
    margin: 10px;
    font-size: 36px;
    font-weight: bold;
}

.subtitle {
    font-family: 'Open sans', 'Source Sans Pro', sans-serif;
    color: #555;
    margin: 2px;
    font-size: 20px;
}

.selected {
    color: #F66401;
}

.aboutIcon {
    font-size: 32px;
    line-height: normal;
    vertical-align: middle;
    font-family: 'Hickory Website Font';
    padding: 0;
    background: none;
    border: none;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

.aboutIcon:before {
    content: '\0043';
}

.aboutIcon:hover {
    color: ##999999;
}

.workIcon {
    font-size: 32px;
    line-height: normal;
    vertical-align: middle;
    font-family: 'Hickory Website Font';
    padding: 0;
    background: none;
    border: none;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

.workIcon:before {
    content: '\0041';
}

.workIcon:hover {
    color: ##999999;
}

.blogIcon {
    font-size: 32px;
    line-height: normal;
    vertical-align: middle;
    font-family: 'Hickory Website Font';
    padding: 0;
    background: none;
    border: none;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

.blogIcon:before {
    content: '\0046';
}

.blogIcon:hover {
    color: ##999999;
}

.sbIcon {
    font-size: 40px;
    line-height: normal;
    vertical-align: middle;
    font-family: 'Hickory Website Font';
    padding: 0;
    background: none;
    border: none;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

.sbIcon:before {
    content: '\0044';
}

.sbIcon:hover {
    color: ##999999;
}

.robotIcon {
    font-size: 36px;
    line-height: normal;
    vertical-align: middle;
    font-family: 'Hickory Website Font';
    padding: 0;
    background: none;
    border: none;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

.robotIcon:before {
    content: '\0047';
}

.robotIcon:hover {
    color: ##999999;
}

.amIcon {
    font-size: 72px;
    line-height: normal;
    vertical-align: middle;
    color: ##999999;
    font-family: 'Hickory Website Font';
    padding: 0;
    background: none;
    border: none;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

.amIcon:before {
    content: '\0045';
}

.layout-style-center #topNav {
    text-align: center;
}

#topNav li {
    display: inline-block;
    float: none;
}

#topNav nav li {
    position: relative;
    margin: 32px;
}

.layout-style-center #topNav {
    width: 100%;
    text-align: center;
}

li {
    text-align: -webkit-match-parent;
}

ul {
    font-family: "ff-meta-serif-web-pro";
    font-size: 16px;
    line-height: 1.7em;
    text-transform: none;
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
}

.box-wrap-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
}

#header {
    margin-bottom: 35px;
}

.layout-style-center #logo,
.layout-style-center #topNav {
    width: 100%;
    text-align: center;
}

.aboutMe {
    width: 40%;
    margin-right: 10px;
}

.photo {
    width: 40%;
    margin-left: 10px;
}

.skillSummary {
    width: 25%;
}

.logo {
    -moz-box-flex: 0;
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    box-flex: 0;
    -moz-box-ordinal-group: 1;
    /* -webkit-box-ordinal-group: 1; */
    
    -ms-box-ordinal-group: 1;
    box-ordinal-group: 1;
    padding: 20px;
    padding-top: 0;
}

.logo-image .logo {
    line-height: 0;
    margin: 0;
    display: inline-block;
    height: 39px;
}

#canvas {
    max-width: 800px;
    margin: 0px auto;
    padding-top: 10px;
}

.project-title {
    position: absolute;
    left: 0;
    top: 45%;
    z-index: 9999;
    width: 100%;
    opacity: 0;
    color: #fff;
}
/* Projects */

#projectThumbs {
    clear: both;
}

#projectThumbs > .wrapper {
    /* width: 102%;
  margin-left: -2%;
  margin-top: -2%; */
}

#projectThumbs .project {
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    width: 26.5%;
    cursor: pointer;
    -webkit-transform: translatez(0);
    /* Fix for weird hover behavior. */
}

#projectThumbs .project .project-image .intrinsic {
    opacity: 1;
    -webkit-transition: opacity .14s ease-out;
}

#projectThumbs .project:hover .project-image .intrinsic {
    opacity: .25;
    background: #bbcad2;
}

#projectThumbs .project .project-image {
    background: #bbcad2;
}

#projectThumbs .project .project-image .intrinsic {
    padding-bottom: 100%;
    line-height: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#projectThumbs .project .project-image .content-fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
}

.project-title {
    font-family: sans-serif;
    font-weight: normal;
    font-style: italic;
    line-height: 1.6em;
    text-transform: normal;
    letter-spacing: 0px;
    font-size: 14px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    color: ##999999;
}

#projectThumbs .project .project-item-count {
    display: none;
}

#projectThumbs .project:nth-child(3n+1) {
    clear: left;
}

.hide-thumbnail-titles #projectThumbs .project .project-title {}

.hide-thumbnail-titles #projectThumbs .project .project-image {
    margin-bottom: 0;
}

.page-open #projectThumbs {
    margin-top: 24px;
}

.thumbnails-on-open-page-hide-active .page-open #projectThumbs .active-project {
    height: 0;
    overflow: hidden;
}

.thumbnails-on-open-page-hide-all .page-open #projectThumbs {
    height: 0;
    overflow: hidden;
}

.page-divider {
    border-bottom: 1px dashed #bbcad2;
}

@media only screen and (max-width: 480px) {
    #projectThumbs .project .project-image .intrinsic {
        line-height: 0;
        text-align: center;
    }
    #canvas {
        margin: 0 auto;
        padding: 20px;
    }
    #projectThumbs .project {
        float: left;
        margin-left: 5%;
        margin-top: 5%;
        width: 44%;
        cursor: pointer;
    }
    #projectThumbs .project:nth-child(3n+1) {
        clear: none;
    }
    #topNav nav li {
        position: relative;
        margin: 12px;
    }
    /* #projectThumbs .project:nth-child(odd) {
		clear: left !important;
	} */
}

#aside h3 {
    padding: 20px 10px 0px 10px;
    font-size: 9pt;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #8899a2;
    font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
    color: ##999999;
    font-size: 18px;
}

.sketch {
    background: url(../images/doodle.png) no-repeat;
    height: 270px;
    width: 185px;
    margin-left: auto;
    margin-right: auto;
}

.sketch-about {
    padding: 0px 10px 5px 10px;
    margin: 0 0 0px 0;
    font-size: 16px;
    line-height: 1.4;
    color: #8899a2;
    font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
    color: ##999999;
}

#aside p {
    padding: 0px 10px 5px 10px;
    margin: 0 0 0px 0;
    font-size: 16px;
    line-height: 1.4;
    color: #8899a2;
    font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
    color: ##999999;
}

.sketch-line {
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
}

.social {
    font-size: 32px;
    padding: 10px;
    color: ##999999;
    text-decoration: none;
}

.medium {
    font-size: 20;
    padding: 10;
    width: 32px;
    height: 32px;
    background: ##999999;
    color: white;
}

.socialmedia {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-top: 20px;
}

.modal-dialog {
    width: 800px;
}

.screenborder {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 6px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
}
/* - - - details - - - */

.detailsbody {
    background: #fefbf9;
    color: #777 !important;
}

.detailspanel {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    color: #5a5552;
    padding-bottom: 0;
}

.detailstitle {
    color: #F66401;
}
/* - - - shelterbox - - - */

.sbpanel {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-bottom: 1.25rem;
    background: white;
    color: #5a5552;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}

.sbtitle {
    padding: 5px;
    border-bottom: 1px solid rgb(232, 232, 232);
    color: #292f33;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 10px;
}

.sbcontent {
    padding: 10px
}

.blogspan {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgb(232, 232, 232);
}