<!DOCTYPE HTML>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Anton McConville - Digital Designer and Developer</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet" type="text/css"> -->

  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../../../../../css/normalize.css">
  <!-- <link rel="stylesheet" href="css/skeleton.css"> -->
  <link rel="stylesheet" href="https://mcconville.github.io/css/anton.css">
  <link rel="stylesheet" href="./../../../../css/blog.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/mcconville/blog/53b5dd35d297f2d6df1319c72fd92fcf5ff43256/images/favicon.png">

  <!-- Global site tag (gtag.js) - Google Analytics -->

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135798241-1"></script>

  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-135798241-1');
  </script>
</head>

<body>
  <div class="top">
    <div class="bar">
      <a class="titlebit" href="./index.html">
        <div class="title">
          <div class="name">Anton McConville</div>
          <div class="subtitle">Digital Designer & Developer</div>
        </div>
      </a>
      <div class="am"><img  src="https://mcconville.github.io/images/favicon.png"></div>
      <div class="navigation">
        <a class="selected" href="index.html">projects</a>
        <a class="deselected" href="https://mcconville.github.io/blog/">blog</a>
        <a class="deselected end" href="pages/about.html">about</a>
      </div>
    </div>
    <!-- <div class="tear"></div> -->
  </div>

  <!-- &raquo; &laquo;  {{page.previous.title}} -->

  <div class="blognavigation">

    {% if page.next.url %}
    <a class="nextpost" href="{{page.next.url | prepend:'/blog'}}">&laquo; {{page.next.title}} </a>
    {% else %}
    <a class="nextpost" href="https://mcconville.github.io/blog">&laquo; timeline</a>
    {% endif %}

    {% if page.previous.url %}
    <a class="previouspost" href="{{page.previous.url | prepend:'/blog' }}">{{page.previous.title}} &raquo;</a>
    {% endif %}

  </div>


  <div class="blogcontent">

    <div class="postwrapper">
      <div class="post" id="post">
        <div class="blogposttitle"> {{ page.title }} </div>
        <div class="postdate"> {{ page.date | date: "%B %d, %Y" }} </div>
        {{ content }}
      </div>
    </div>
  </div>

  </div>
</body>

</html>
